<div class="col-md-6" *ngIf="identity && identity.role == 'ROLE_ADMIN'" >
	<h1>{{ titulo }}</h1>

	<form #formSong="ngForm" (ngSubmit)="onSubmit()">

	<div *ngIf="alertRegister">
		<div class="alert alert-success">
			<strong>Message </strong>{{ alertRegister }}
		</div>
	</div>

		<div class="form-group">
		    <label>Numero</label>
		    <input type="text" class="form-control" #number="ngModel" name="number" [(ngModel)]="song.number" placeholder="Numero">
		    <span *ngIf="!number.valid && number.touched">El numero es obligatorio</span>
		  </div>

	  <div class="form-group">
	    <label>Titulo</label>
	    <input type="text" class="form-control" #name="ngModel" name="name" [(ngModel)]="song.name" placeholder="Titulo">
	    <span *ngIf="!name.valid && name.touched">El titulo es obligatorio</span>
	  </div>

		<div class="form-group">
		    <label>Duracion</label>
		    <input type="text" class="form-control" #duration="ngModel" name="duration" [(ngModel)]="song.duration" placeholder="Duracion">
		    <span *ngIf="!duration.valid && duration.touched">La duration es obligatoria</span>
	  	</div>

	  	

	  <div class="form-group" *ngIf="is_edit">

			<div class="song_for_edit" *ngIf="song.file && song.file != 'null'">
	  			<audio controls>
	  				<source src="{{ url + 'get-file-song/' + song.file}}" type="audio/mpeg">
	  					El navegador web no soporta la reproduccion de audio.
	  				
	  			</audio>
	  		</div>

	    <label for="exampleInputFile">Subir cancion del album</label>
	    <input type="file" placeholder="Subir fichero" (change)="fileChangeEvent($event)" />
	    <p class="help-block">Agregue el archivo de audio.</p>
	  </div>
	  
	  <button type="submit" [disabled]="!formSong.form.valid" class="btn btn-success">{{ titulo }}</button>
	</form>

</div>
